
body {
    width: 100%;
    background-color: #ebebeb;
}
.white_border_tr > td{
    width: 1;
}
.white_border_tr > tbody > tr > td {
    border-color: white;
}

ul.dropdown-menu>li{
    padding: 3px;
}


div#history{
    height:65%;
    overflow-y:scroll;
}
.panel-body{
    padding: 5px 15px;
}
table.tablesorter {
/*    font-family:arial;
    background-color: #CDCDCD;
    margin:10px 0pt 15px;
    font-size: 8pt;
    width: 100%;
    text-align: left;*/
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
/*    background-color: #e6EEEE;
    border: 1px solid #FFF;
    font-size: 8pt;
    padding: 4px;*/
}
table.tablesorter thead tr .header {
    background-image: url(bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td {
/*    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;*/
}
table.tablesorter >tbody >tr.active>td{
    background-color:#D5DAEB; 
}
table.tablesorter >tbody >tr.unread>td{
    background-color:#D5DAEB; 
}

.glyphicon-warning-sign{
    color: #EC1A1A;
    visibility: visible;
}
table.tablesorter >tbody >tr.disabled>td{
    background-color:#D2D3D7;    
}

.myP{
    font-size: 16px;
    font-weight: bold;
}

table.tablesorter >tbody >tr.active>td>span,
table.tablesorter >tbody >tr.active>td>div.icon>span{
    visibility: visible;
}
span.glyphicon-star.star,.glyphicon-ok.answered {
    color: #337ab7;
    visibility: visible;
}

table.tablesorter >tbody >tr>td>span.badge{
    color: #FFFFFF;
    background-color:  #337ab7;
    visibility: visible;
}

table.tablesorter >tbody >tr>td>span,
table.tablesorter >tbody >tr>td>div.icon>span{
    color:#9FB0FF;
    visibility: hidden;
    padding: 2px;
}

table.tablesorter tbody tr.odd td {
    /*background-color:#F0F0F6;*/
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    /*background-color: #8dbdd8;*/
}

